<nav>
    <div class="site-title navbar">
        <a href="/"><h1>Blog ninja</h1></a>
        <p><b>A net ninja site</b></p>
        
    </div>
    <ul>
        <li><a href="/"><i><b>Blogs</b></i></a></li>
        <li><a href="/about"><i><b>About</b></i></a></li>
        <li><a href="/blogs/create"><i><b>New blog</b></i></a></li>
    </ul>
</nav>