<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <p class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, nulla! Cum, necessitatibus? Obcaecati consequatur architecto rem eveniet veniam qui, vitae harum voluptatibus cumque modi porro, praesentium magnam ad quasi dolore.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, nulla! Cum, necessitatibus? Obcaecati consequatur architecto rem eveniet veniam qui, vitae harum voluptatibus cumque modi porro, praesentium magnam ad quasi dolore.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, nulla! Cum, necessitatibus? Obcaecati consequatur architecto rem eveniet veniam qui, vitae harum voluptatibus cumque modi porro, praesentium magnam ad quasi dolore.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>